<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">  
        <section class="mb-4">
        <div style="display: grid;">
            <label for="">Proyecto de salud ocupacional</label>
            <label for="">Universidad popular del cesar</label>
        </div>
      </section>
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Diego Santiago Pallares</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Linkedin</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Angelyn Macias Reyes</h5>
  
            <ul class="list-unstyled mb-0">
                <li>
                    <a href="#!" class="text-white">Linkedin</a>
                </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Shadia Díaz Ramos</h5>
  
            <ul class="list-unstyled mb-0">
                <li>
                    <a href="#!" class="text-white">Linkedin</a>
                </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="">
            <label for="">Docente: Maria Liliana Mejia Daza</label>
        </div>
      © 2022
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
