<br>
<hr>
<div class="row">
  <div class="col-4">
    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
      <nav class="nav nav-pills flex-column">
        <h3>Sistema de gestión de la seguridad y salud en el trabajo (SG-SST).</h3>
        <a class="nav-link" href="#item-0"><u>
          Introducción
        </u>
        </a>
        <a class="nav-link" href="#item-1">Paso 1: <u>
            Evaluación inicial del Sistema de Gestión de la Seguridad y Salud en el Trabajo.
        </u>
        </a>
        <a class="nav-link" href="#item-2">Paso 2:
          <u>
            Identificación de peligros, Evaluación, Valoración de los Riesgos y Gestión de los mismos.
          </u>
        </a>
        <a class="nav-link" href="#item-3">Paso 3:
          <u> Política y Objetivos de Seguridad y Salud en el Trabajo</u>
        </a>
        <a class="nav-link" href="#item-4">Paso 4:
          <u> Plan de Trabajo Anual del Sistema de Gestión de la Seguridad y Salud
            en el Trabajo y asignación de recursos</u>
        </a>
        <a class="nav-link" href="#item-5">Paso 5:
          <u>Programa de capacitación, entrenamiento, inducción y reinducción en SST.</u>
        </a>
        <a class="nav-link" href="#item-6">Paso 6:
          <u>Prevención, preparación y respuesta ante emergencias</u>
        </a>
        <a class="nav-link" href="#item-7">Paso 7:
          <u>Reporte e investigación de incidentes, accidentes de trabajo y enfermedades laborales.</u>
        </a>
        <a class="nav-link" href="#item-8">Paso 8:
          <u>Criterios para adquisición de bienes o contratación de servicios con las disposiciones del SG-SST</u>
        </a>
        <a class="nav-link" href="#item-9">Paso 9:
          <u>Medición y evaluación de la gestión en SST.</u>
        </a>
        <a class="nav-link" href="#item-10">Paso 10:
          <u>Acciones preventivas o correctivas.</u>
        </a>
        
      </nav>
    </nav>
  </div>
  <div class="col-8 overflow-auto">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div id="item-0">
        <p>
          <b>¿Qué es la Seguridad y Salud en el Trabajo(SST)?</b>
        </p>
        <p>
          La Seguridad y Salud en el Trabajo -SST es la
          disciplina que trata de la prevención de las
          lesiones y enfermedades causadas por las
          condiciones de trabajo, y de la protección y
          promoción de la salud de los trabajadores.
          Tiene por objeto mejorar las condiciones y el
          medio ambiente de trabajo, así como la salud
          en el trabajo, que conlleva la promoción y el
          mantenimiento del bienestar físico, mental y
          social de los trabajadores .
        </p>       
      </div>
      <div id="item-1">
        <p><b>Evaluación inicial del Sistema de Gestión de la Seguridad y Salud en el Trabajo.</b></p>
        <p>
          La evaluación inicial deberá realizarse una
          única vez, por personal idóneo de acuerdo
          con la normatividad vigente, incluidos los
          estándares mínimos, con el fin de identificar
          las prioridades en SST.
          Se utiliza para establecer el plan de trabajo
          anual o para la actualización del existente.
          Para cumplir con lo anterior, cada empresa
          puede crear un formato. Sin embargo en
          cualquier caso, la evaluación debe contener
          como mínimo los siguientes aspectos y los
          estipulados en los estándares mínimos:
        </p>
        <p>1. La identificación de la normatividad vigente
          en materia de riesgos laborales incluyendo los
          estándares mínimos del Sistema de Garantía de
          Calidad del Sistema General de Riesgos Laborales
          para empleadores, que se reglamenten y le sean
          aplicables.
        </p>
        <p>2. La verificación de la identificación de los peligros,
          evaluación y valoración de los riesgos, la cual debe
          ser anual. En la identificación de peligros deberá
          contemplar los cambios de procesos, instalaciones,
          equipos, maquinarias, entre otros.
        </p>
        <p>
          3. La identificación de las amenazas y evaluación
          de la vulnerabilidad de la empresa la cual debe ser
          anual.
        </p>
        <p>4. La evaluación de la efectividad de las medidas
          implementadas, para controlar los peligros,
          riesgos y amenazas, que incluya los reportes de los
          trabajadores la cual debe ser anual.
        </p>
        <p>
          5. El cumplimiento del programa de capacitación
          anual, establecido por la empresa, incluyendo
          la inducción y reinducción para los trabajadores
          dependientes, cooperados, en misión y contratistas.
          
        </p>
        <p>6. La evaluación de los puestos de trabajo en el marco
          de los programas de vigilancia epidemiológica de la
          salud de los trabajadores.</p>
        <p>7. La descripción sociodemográfica de los
          trabajadores y la caracterización de sus condiciones
          de salud, así como la evaluación y análisis de las
          estadísticas sobre la enfermedad y la accidentalidad
          y registro y seguimiento a los resultados de los
          indicadores definidos en el SG-SST de la empresa del
          año inmediatamente anterior.</p>
        <p>8. Registro y seguimiento de los resultados de los
          indicadores definidos en el SG SST de la empresa
          del año inmediatamente anterior.</p>
      </div>
      <div id="item-2">
        <p><b>Identificación
          de peligros,
          Evaluación,
          Valoración de los
          Riesgos y Gestión
          de los mismos.</b></p>
        <p>La identificación de peligros, evaluación y
          valoración de los riesgos debe ser desarrollada
          por el empleador con la participación y
          compromiso de todos los niveles de la
          empresa.
          Debe ser documentada y actualizada de
          acuerdo a lo siguiente:</p>
        <p>• Anualmente.</p>
        <p>• Cada vez que ocurra un accidente de trabajo
          mortal o un evento catastrófico en la empresa.
        </p>
        <p>• Cuando se presenten cambios en los procesos,
          en las instalaciones en la maquinaria o en los
          equipos. </p>
        <p>El empleador debe adoptar una metodología para la
          identificación, evaluación, valoración y control de los
          peligros y riesgos de la empresa. Dicha metodología
          debe contemplar los siguientes aspectos:</p>
        <p>• Todos los procesos.</p>
        <p>• Actividades rutinarias y no rutinarias.</p>
        <p>• Actividades internas o externas.</p>
        <p>• Maquinaria y equipos de trabajo.</p>
        <p>• Todos los centros de trabajo.</p>
        <p>• Todos los trabajadores, independiente de su
          forma de contratación o vinculación con la
          organización.</p>
        <p>• Medidas de prevención y control (Jerarquización).</p>
      </div>
      <P>Con el fin de proporcionar un marco de referencia,
        a continuación se relacionan algunas metodologías: 
        </P>
        <P>• Guía Técnica Colombiana GTC 45 Guía para la
          identificación de los peligros y la valoración de</P>
        <P>Una vez identificados los peligros, evaluados y
          valorados los riesgos cada empresa puede identificar
          las medidas de prevención y control necesarias de
          acuerdo con la valoración obtenida.
          En los anexos que se relacionan a continuación, se
          establece metodología propuesta por el Ministerio
          del Trabajo, para la MIPYME empresa (Que no
          tenga actividades de alto riesgo) con su respectivo
          formato. </P>
        <img class="text-center" src="/assets/images/others/imagepaso2.png" alt="">
      <div id="item-3">
        <p><b>Política y
          Objetivos de
          Seguridad y Salud
          en el Trabajo</b></p>
        <p>¿Cómo elaborar una Política de
          Seguridad y Salud en el Trabajo?
         </p>
        <p> Recuerde que el empleador o contratante
          debe establecer por escrito una política de
          Seguridad y Salud en el Trabajo -SST que
          debe ser parte de las políticas de gestión de
          la empresa, este debe dar alcance a todos sus
          centros de trabajo y todos sus trabajadores,
          independiente de su forma de, contratación
          o vinculación, incluyendo los contratistas y
          subcontratistas.</p>
        <p>¿Por qué es importante elaborar una
          política?</p>
        <p>El primer punto clave a desarrollar, previamente a
          toda planificación preventiva, es definir la política
          empresarial en materia de prevención de riesgos
          laborales.
          Dicha política, que deberá ser aprobada por la
          Dirección y contar con el apoyo de los trabajadores o
          de sus representantes, consistiría en una declaración
          de principios y compromisos que promuevan el
          respeto a las personas y a la dignidad de su trabajo,
          la mejora continua de las condiciones de seguridad y
          salud dentro de la empresa.</p>
        <p>8 pasos para elaborar una Política de
          Seguridad y Salud en el Trabajo</p>
        <p>1. Incluir el nombre de la empresa y su actividad
          económica principal.</p>
        <p>2. Mencionar el alcance a todos los centros de
          trabajo y todos sus trabajadores, independiente de
          su forma de contratación o vinculación, incluyendo
          los contratistas y subcontratistas.</p>
        <p>3. Especificada frente a la naturaleza de los peligros
          y tamaño de la empresa.</p>
        <p>4. Establecer el compromiso de la empresa hacia la
          implementación del SG –SST.</p>
        <p>5. integrarla a las demás políticas de gestión de la
          empresa.</p>
        <p>6. Documentarla de forma concisa, clara, fechada y
          firmada por el representante legal de la empresa.
          </p>
        <p>7. Difundirla a todos los niveles de la organización
          y estar accesible, incluido el Comité Paritario o
          Vigía de Seguridad y Salud en el Trabajo según
          corresponda.</p>
        <p>8. Revisarla como mínimo una vez al año y actualiza
          los cambio en SST.</p>
        <p>Objetivos de la Política de Seguridad y
          Salud en el Trabajo</p>
        <p>Uno de los objetivos fundamentales de la política,
          es evidenciar el compromiso de la alta dirección con
          sus trabajadores en cuento a SST, con el fin de crear
          una cultura empresarial en la que se promuevan
          adecuadas condiciones de trabajo.
          La Política de SST de la empresa debe incluir como
          mínimo los siguientes objetivos sobre los cuales la
          organización expresa su compromiso:</p>
        <p>• Identificar los peligros, evaluar y valorar los
          riesgos y establecer los respectivos controles.</p>
        <p> Proteger la seguridad y salud de todos los
          trabajadores, mediante la mejora continua del
          Sistema de Gestión de la Seguridad y Salud en
          el Trabajo SG-SST en la empresa.
          </p>
        <p>• Cumplir la normatividad nacional vigente
          aplicable en materia de riesgos laborales.</p>
        <p>Objetivos del Sistema de Gestión de la Seguridad y Salud en el Trabajo</p>
        <p>Cada empresa debe establecer los objetivos del SG-SST, para lo cual se debe tener en cuenta:</p>
        <img src="/assets/images/others/paso3.png" alt="">
        <p>Se debe determinar el grado de cumplimiento de los objetivos del SG-SST definiendo mecanismos que
          permitan el seguimiento a su implementación. Los objetivos deben ser alcanzables y deben propender por
          el mejoramiento continuo.</p>
        <p>Se debe tener presente que los objetivos del SG-SST, tienen que cumplir con lo siguiente:</p>
        <img src="/assets/images/others/paso31.png" alt="">
      </div>
      <div id="item-4">
        <p><b>Plan de Trabajo
          Anual del Sistema
          de Gestión de la
          Seguridad y Salud
          en el Trabajo y
          asignación de
          recursos</b></p>
        <p>Es necesario diseñar y desarrollar un Plan de
          trabajo anual del SG-SST, el cual contemplara
          información de entrada, como por ejemplo:</p>
        <p>• Evaluación inicial.</p>
        <p>• Identificación de Peligros, evaluación y
          valoración de riesgos. </p>
        <p>• Resultados de las auditorías internas.</p>
        <p>• Revisiones por la alta dirección. </p>
        <p>• Acciones preventivas y correctivas.</p>
        <p>En el Plan de trabajo anual del SG-SST de cada empresa se debe identificar como mínimo lo siguiente:
        </p>
        <p>• Metas.</p>
        <p>• Responsabilidades.</p>
        <p>• Recursos (financieros, técnicos y el personal necesario).</p>
        <p>• Cronograma de actividades.</p>
        <p>A continuación se relaciona un ejemplo de plan de trabajo:</p>
        <img src="/assets/images/others/paso4.png" alt="">
      </div>
      <div id="item-5">
        <p><b>Programa de
          capacitación,
          entrenamiento,
          inducción y
          reinducción en SST.</b></p>
        <p>Para iniciar con la formulación del Programa
          de capacitación, entrenamiento, inducción y
          reinducción en SST, se debe definir los temas
          mínimos, especialmente cuando se traten
          temas asociados a las actividades críticas de la
          organización, teniendo en cuenta los resultados
          obtenidos de la aplicación de la metodología
          de identificación de peligros, evaluación y
          valoración de los riesgos.</p>
        <p>En la formulación del contenido del Programa de capacitación, entrenamiento, inducción y reinducción en
          SST, se deben tener en cuenta los aspectos relacionados con la prevención y promoción de la seguridad y
          salud de los trabajadores y puede incluir:</p>
        <p>• Identificación de las necesidades de capacitación y/o entrenamiento en el SG-SST, por nivel y su
          actualización de acuerdo con las necesidades de la empresa.</p>
        <p>• Temas mínimos por grupos de interés (brigada, vigía o COPASST, alta dirección, trabajadores).</p>
        <p>• Objetivo.</p>
        <p>• Alcance</p>
        <p>• Contenido.</p>
        <p>• Registros de las personal a capacitar</p>
        <p>Para determinar las necesidades del Programa de Capacitación se debe tener en cuenta las competencias
          requeridas por los trabajadores para el desempeño seguro de su labor:</p>
          <img src="/assets/images/others/paso5.png" alt="">
        <p>El empleador debe proporcionar a todo trabajador que ingrese por primera vez a la empresa, independiente
          de su forma de contratación, vinculación y de manera previa al inicio de sus labores, una inducción en los
          aspectos generales y específicos de las actividades a realizar, que incluya entre otros, la identificación y
          el control de peligros y riesgos en su trabajo y la prevención de accidentes de trabajo y enfermedades
          laborales.
          Así mismo se realizará reinducción a todos los trabajadores, independiente de su forma de contratación y
          vinculación</p>
      </div>
      <div id="item-6">
        <p><b>Prevención,
          preparación y
          respuesta ante
          emergencias.</b></p>
        <p>Todas las empresas deben implementar y
          mantener las disposiciones necesarias en
          materia de prevención, preparación y respuesta
          ante emergencias, con cobertura a todos
          los centros, turnos de trabajo y todos los
          trabajadores, independiente de su forma de
          contratación o vinculación, incluidos contratistas
          y subcontratistas, así como proveedores y
          visitantes</p>
        <p>Para complementar lo anterior, se debe mantener
          actualizada la identificación sistemática de
          amenazas y el análisis de la vulnerabilidad de las mismas que puedan afectar a la empresa; también deben
          contar con las medidas de protección acordes con las amenazas detectadas, las cuales deben ser capaces
          de responder eficaz y efectivamente a una emergencia para reducir la afectación al entorno, ambiente,
          personas y a la propiedad.</p>
        <p>Cada empresa puede articularse con las instituciones locales o regionales, tales como Bomberos de
          Colombia, Fondo Nacional de Gestión del Riesgo de Desastres, Defensa Civil, Cruz Roja Colombiana, entre
          otros.</p>
        <p>Para que cada empresa pueda implementar su Plan de prevención, preparación y respuesta ante emergencias
          considere lo siguiente:</p>
          <img src="/assets/images/others/paso6.png" alt="">
      </div>
      <div id="item-7">
        <p><b>Reporte e
          investigación
          de incidentes,
          accidentes
          de trabajo y
          enfermedades
          laborales.</b></p>
        <p>El empleador o contratante está obligado a
          reportar a la ARL y EPS TODOS los accidentes
          de trabajo y enfermedades laborales
          diagnosticadas de los trabajadores, incluyendo
          los vinculados a través de contrato de prestación
          de servicios dentro de los dos (2) días hábiles
          siguientes a la ocurrencia del accidente o al
          diagnóstico de la enfermedad laboral. Copia del
          este reporte deberá suministrarse al trabajador.</p>
        <p>SOLO los accidentes graves y mortales, como las enfermedades laborales diagnosticadas deberán ser
          reportados a la Dirección Territorial u Oficina especial del Ministerio del Trabajo dentro del término ya
          mencionado</p>
        <p>¿Qué hacer en caso de accidente de trabajo?</p>
        <img src="/assets/images/others/paso7.png" alt="">
        <p>El reporte de accidente de trabajo o enfermedad
          laboral deberá ser diligenciado por el empleador o
          contratante, o por sus delegados o representantes.
          Toda organización debe demostrar la existencia del
          registro y reporte de los accidentes e incidentes y
          enfermedades diagnosticadas.
          El no reporte puede acarrear una multa de hasta
          1.000 s.m.m.l.v. y el reporte extemporáneo hasta
          500 s.m.m.l.v.</p>
        <p>Investigación de incidentes y accidentes
          de trabajo</p>
        <p>El empleador o contratante debe investigar TODOS
          los accidentes e incidentes de los trabajadores,
          incluyendo los vinculados a través de contrato de
          prestación de servicio, dentro de los quince (15) días
          siguientes a su ocurrencia (calendario). SOLO en
          caso de accidente grave o mortal se deberá remitir
          la investigación a la Administradora de Riesgos
          Laborales, dentro del término ya mencionado.
          Esta investigación debe realizarse a través del
          equipo investigador, el cual debe estar conformado
          como mínimo por:</p>
        <p>• El jefe inmediato o supervisor del trabajador
          accidentado o del área donde ocurrió el
          incidente</p>
        <p>• Un representante del Comité Paritario o el Vigía
          de Seguridad y Salud en el Trabajo.</p>
        <p>• El responsable del desarrollo del Sistema de
          Gestión de la Seguridad y Salud en el Trabajo.</p>
        <p>Cuando el accidente se considere grave o produzca
          la muerte, en la investigación deberá participar un
          profesional con licencia en Seguridad y Salud en el
          Trabajo, propio o contratado.</p>
        <p>Aspectos a tener en cuenta en las investigaciones de
          incidentes o accidentes de trabajo:</p>
        <p>• Establecer un mecanismo para realizar la
          investigación de los accidentes e incidentes que
          incluya todos los parámetros definidos en la
          Resolución 1401 de 2007 o que la modifique o
          complemente.</p>
        <p>• Establecer acciones preventivas, correctivas y
          de mejora necesarias.</p>
        <p>Es importante determinar las causas del evento,
          para lo cual puede utilizar alguna de las siguientes
          metodologías:</p>
        <p>• Diagrama causa-efecto.</p>
        <p>• Teoría de los cinco porqués.</p>
        <p>• Lluvia de ideas.</p>
        <p>• Benchmarking (Medida de Calidad)</p>
        <p>• Taproot </p>
        <p>• Tasc - Técnica de Análisis Sistemático de Causas</p>
        <p>El resultado de la investigación debe permitir, entre
          otros, lo siguiente:</p>
        <p>• Identificar y documentar las deficiencias del SG
          SST</p>
        <p>• Informar los resultados a los trabajadores
          directamente relacionados con sus causas o
          controles.</p>
        <p>• Informar a la alta dirección sobre el
          ausentismo laboral por incidentes, accidentes y
          enfermedades laborales.</p>
        <p>• Alimentar la revisión de la alta dirección</p>
      </div>
      <div id="item-8">
        <p><b>Criterios para
          adquisición
          de bienes o
          contratación de
          servicios con las
          disposiciones del
          SG-SST.</b></p>
        <p>Contratación</p>
        <p>El empleador debe considerar como mínimo
          los siguientes aspectos para sus proveedores,
          trabajadores dependientes, trabajadores
          cooperados, trabajadores en misión, contratistas
          y sus trabajadores o sub contratistas durante el
          desempeño de las actividades objeto del contrato:</p>
        <p>• Aspectos de seguridad y salud en el trabajo para
          la selección y evaluación</p>
        <p>• Procurar canales de comunicación para la SST</p>
        <p>• Verificar antes del inicio del trabajo y
          periódicamente la afiliación al Sistema General
          de Riesgos Laborales.</p>
        <p>• Informar previo al inicio del contrato los peligros
          y riesgos generales y específicos de su zona de
          trabajo.</p>
        <p>• Informar sobre los presuntos accidentes de
          trabajo y enfermedades laborales ocurridos</p>
        <p>• Verificar periódicamente y durante el desarrollo
          de las actividades objeto del contrato, el
          cumplimiento de la normatividad en SST.</p>
        <p>Adquisición de bienes</p>
        <p>La empresa debe establecer y mantener un
procedimiento para adquisiciones, con el fin
de garantizar que se identifiquen y evalúen
en las especificaciones relativas a las compras
o adquisiciones de productos y servicios, las
disposiciones relacionadas con el cumplimiento
del Sistema de Gestión de la Seguridad y Salud en
el Trabajo SG-SST por parte de la empresa. </p>
      </div>
      <div id="item-9">
        <p><b>Medición y
          evaluación de la
          gestión en SST. </b></p>
        <p>Indicadores de estructura, proceso y resultado que
          miden el SG-SST.
          Por medio de los indicadores se verifica el
          cumplimiento del SG-SST y de acuerdo con los
          resultados se establecen las acciones correctivas,
          preventivas o de mejora necesarias.
          El empleador debe definir los indicadores
          (cualitativos o cuantitativos según corresponda)
          mediante los cuales evalúe la estructura, el proceso
          y los resultados del SG-SST y debe hacer seguimiento
          a los mismos. Estos indicadores deben alinearse con
          el plan estratégico de la empresa y hacer parte del
          mismo.
          Se debe realizar una ficha técnica para cada
          indicador, en la cual se pueden tener en cuenta las
          siguientes variables:</p>
        <img src="/assets/images/others/paso9.png" alt="">
        <p>Los indicadores del SG-SST se dividen en tres tipos:</p>
        <p>Indicadores que evalúan la estructura
          del SG-SST: </p>
        <p>Medidas verificables de la disponibilidad y acceso a
          recursos, políticas y organización con que cuenta la
          empresa para atender las demandas y necesidades
          en Seguridad y Salud en el Trabajo, ejemplo:</p>
        <p>• Número de requisitos del numeral 2.2.4.6.20
          que cumplan con las especificaciones del
          Decreto 1072 / número de requisitos solicitados
          por dicho numeral</p>
        <p>Indicadores que evalúan el proceso del
          SG-SST:</p>
        <p>Medidas verificables del grado de desarrollo e
          implementación del SG-SST, ejemplo:</p>
        <p>• Número de actividades cumplidas del plan anual
          de trabajo / número de actividades programas
          en el plan anual de trabajo</p>
        <p>Indicadores que evalúan el resultado del
          SG-SST: </p>
        <p>Medidas verificables los cambios alcanzados
          en el periodo definido, teniendo como base la
          programación y la aplicación de recursos propios del
          programa o del sistema de gestión, ejemplo:
          </p>
        <p>• Número de accidentes ocurridos en el periodo
          - número de accidentes del periodo anterior /
          accidentes del periodo anterior</p>
        <p>Auditorías internas del SG-SST</p>
        <img src="/assets/images/others/paso91.png" alt="">
      </div>
      <div id="item-10">
        <p><b>Acciones
          preventivas o
          correctivas</b></p>
        <p>El empleador debe definir e implementar acciones
          correctivas o preventivas, esto con el fin de
          gestionar las no conformidades reales o potenciales
          que puedan influir en una desviación del SG-SST.
          Las acciones pueden ser derivadas, entre otras, de
          las siguientes actividades:</p>
        <p>• Resultados de las inspecciones y observación de tareas.</p>
        <p>• investigación de incidentes y accidentes de trabajo.
        </p>
        <p>• Auditorías internas y externas</p>
        <p>• Sugerencias de los trabajadores.</p>
        <p>• Revisión por la Alta Dirección.</p>
        <p>• Cambios en procedimientos o métodos de trabajo</p>
        <p>Lo anterior debe contemplar una metodología que permita eliminar la causa raíz. </p>
        <p>La organización debe asegurarse de documentar y soportar el plan de acción defi nido en la acción correctiva
          o preventiva y verifi car si estas fueron efectivas.</p>
        <p>Para determinar el plan de acción, se puede seguir el siguiente esquema:</p>
        <img src="/assets/images/others/paso10.png" alt="">
        <p>El análisis de causas se puede realizar con la metodología que la empresa desee adoptar de acuerdo con las
          necesidades de la empresa, las más utilizadas son las siguientes:</p>
        <p>• Diagrama causa-efecto.</p>
        <p>• Teoría de los cinco porqués</p>
        <p>• Lluvia de ideas.</p>
        <p>• Benchmarking (Medida de Calidad).</p>
      </div>
    </div>
  </div>
</div>